{
	"external": {
		"discord": {
			"activate": {
				"notice": false,
				"alert": false
			},
			"uri": {
				"notice": "https://discord.com/api/webhooks/{server-id}/{channel-id}",
				"alert": "https://discord.com/api/webhooks/{server-id}/{channel-id}"
			},
			"color": {
				"notice": 32768,
				"alert": 14423100
			},
			"authorname": {
				"notice": "notice.authn.bot.n138.nws",
				"alert": "alert.authn.bot.n138.nws"
			},
			"authoravatar": {
				"notice": "https://www.google.com/s2/favicons?size=256&domain=https://discord.com/",
				"alert": "https://www.google.com/s2/favicons?size=256&domain=https://discord.com/"
			}
		}
	},
	"internal": {
		"databases": {
			"activate": true,
			"primary": {
				"host": "172.16.0.1",
				"port": 5432
			},
			"secondary": [
				{ "host": "", "port": 5432 }
			],
			"tables": {
				"public": {
					"authgoogle_userinfo": [
						{
							"column": {
								"id": [ "integer", "not null", "primary key" ],
								"name": [ "text", "not null" ],
								"email": [ "text", "not null" ],
								"icon": [ "text", "not null" ],
								"regat": [ "float", "not null" ],
								"regip": [ "text", "not null" ],
								"reguseragent": [ "text", "not null" ],
								"lastat": [ "float", "not null" ],
								"lastip": [ "text", "not null" ],
								"lastuseragent": [ "text", "not null" ],
								"activate": [ "boolean", "not null", "default true" ]
							},
							"indexes": []
						}
					],
					"authgoogle_authnlog": [
						{
							"column": {
								"timestamp": [ "integer", "not null", "primary key" ],
								"userid": [ "integer", "not null" ],
								"address": [ "text", "not null" ],
								"referer": [ "text", "not null" ],
								"useragent": [ "text", "not null" ],
								"origin": [ "text", "not null" ]
							},
							"indexes": []
						}
					],
					"authgoogle_sessions": [
						{
							"column": {
								"userid": [ "integer", "not null" ],
								"useragent": [ "text", "not null" ],
								"address": [ "text", "not null" ]
							},
							"indexes": []
						}
					]
				}
			}
		}
	}
}
